In [ ]:
print("Hello World")

Hello World

In [ ]:
# Python does not have a character data type, a single character is simply a string with a length of 1.
#Square brackets can be used to access elements of the string.

In [ ]:
a='Hello World'

In [ ]:
print(len(a))

11

In [ ]:
#Access of Elements
b='Hello, World!'

In [ ]:
#Slicing
print(b[2:5])

llo

In [ ]:
#Slice From the Start
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
#Slice To the End
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
#Negative Indexing
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
#Modify Strings
#Python has a set of built-in methods that can use on strings.

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"#strip() method removes any whitespace from the beginning or the end.

Hello, World!

In [ ]:
#String Concatenation
#To concatenate, or combine, two strings you can use the + operator

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
#Format - Strings

In [ ]:
#we cannot combine strings and numbers like this:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: ignored

In [ ]:
#we can combine strings and numbers by using the format() method!
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
#The format() method takes unlimited number of arguments, and are placed into the respective placeholders:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
#Escape Character
#To insert characters that are illegal in a string, use an escape character.

#An escape character is a backslash \ followed by the character you want to insert.

In [ ]:
#The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."

In [ ]:
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
#capitalize() Method

In [ ]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [ ]:
#title() Method

In [ ]:
#The first character is converted to upper case, and the rest are converted to lower case:

txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [ ]:
#count() Method

In [ ]:
#The count() method returns the number of times a specified value appears in the string.

In [ ]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [ ]:
# string.count(value, start, end)
# Search from position 10 to 24

In [ ]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

In [ ]:
# find() Method

In [ ]:
# Where in the text is the word "welcome"?

txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [ ]:
#The find() method finds the first occurrence of the specified value.

#The find() method returns -1 if the value is not found.

#The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

In [ ]:
# text is the first occurrence of the letter "e" when you only search between position 5 and 10?
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

In [ ]:
#index() Method

In [ ]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [ ]:
#The index() method finds the first occurrence of the specified value.

#The index() method raises an exception if the value is not found.

#The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found.

In [ ]:
#Where in the text is the first occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

In [ ]:
#join() Method
#The join() method takes all items in an iterable and joins them into one string.

In [ ]:
#Join all items in a tuple into a string, using a hash character as separator:

myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [ ]:
#replace() Method
#The replace() method replaces a specified phrase with another specified phrase.
#Replace the word "bananas":

txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [ ]:
#partition() Method
#The partition() method searches for a specified string, and splits the string into a tuple containing three elements.

#The first element contains the part before the specified string.

#The second element contains the specified string.

#The third element contains the part after the string.
#If the specified value is not found, the partition() method returns a tuple containing: 1 - the whole string, 2 - an empty string, 3 - an empty string:

txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

In [ ]:
#split() Method
#The split() method splits a string into a list.
#Split a string into a list where each word is a list item:

txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [ ]:
#Split the string, using comma, followed by a space, as a separator:

txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']