In [ ]:
# Set items are unordered, unchangeable, and do not allow duplicate values.
# Sets are used to store multiple items in a single variable.
# Set items are unchangeable, but you can remove items and add new items.
# A set can contain different data types.

In [ ]:
set1={1,2,3,4,5,6}

In [ ]:
print(set1)

{1, 2, 3, 4, 5, 6}

In [ ]:
#Access Set Items
print(4 in set1)

True

In [ ]:
print(8 in set1)

False

In [ ]:
print(8 not in set1)

True

In [ ]:
#Add Set Items

set1.add(9)

In [ ]:
set1

{1, 2, 3, 4, 5, 6, 9}

In [ ]:
# To add items from another set into the current set, use the update() method
set2={10,11,12}

In [ ]:
set1.update(set2)

In [ ]:
set1

{1, 2, 3, 4, 5, 6, 9, 10, 11, 12}

In [ ]:
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.

list3=["A","B","C"]

In [ ]:
set1.update(list3)

In [ ]:
set1

{1, 10, 11, 12, 2, 3, 4, 5, 6, 9, 'A', 'B', 'C'}

In [ ]:
# Remove Set Items

set1.remove(12)

In [ ]:
set1

{1, 10, 11, 2, 3, 4, 5, 6, 9, 'A', 'B', 'C'}

In [ ]:
set1.discard(11)

In [ ]:
set1

{1, 10, 2, 3, 4, 5, 6, 9, 'A', 'B', 'C'}

In [ ]:
set1.pop()

1

In [ ]:
set1

{10, 2, 3, 4, 5, 6, 9, 'A', 'B', 'C'}

In [ ]:
set2={1,2}

In [ ]:
set2.clear()

In [ ]:
set2

set()

In [ ]:
set3={1,2}

In [ ]:
 del set3

In [ ]:
set3

NameError: name 'set3' is not defined

In [ ]:
# Difference Between Remove & Discard

In [ ]:
set1={1,2,3,4,5,6}
set1.remove(101)

KeyError: 101

In [ ]:
set1={1,2,3,4,5,6}
set1.discard(101)

**Joining Sets**

In [ ]:
#Union Method
set1= {"x","y","z"}
set2={6,7,8}
set3=set1.union(set2)
print(set3)

{'y', 7, 'z', 'x', 6, 8}

In [ ]:
# | Operator
set1= {"x","y","z"}
set2={6,7,8}
set3= set1 | set2
print(set3)

{'y', 7, 'z', 'x', 6, 8}

In [ ]:
#Join mutiple sets
set1= {"x","y","z"}
set2={6,7,8}
set3={'Motu','Patlu'}
set4={'King','Kong'}
largeset=set1.union(set2,set3,set4)
print(largeset)

{'z', 6, 7, 8, 'y', 'Motu', 'Kong', 'Patlu', 'x', 'King'}

In [ ]:
set1= {"x","y","z"}
set2={6,7,8}
set3={'Motu','Patlu'}
set4={'King','Kong'}
largeset=set1 |set2 |set3 |set4
print(largeset)

{'z', 6, 7, 8, 'y', 'Motu', 'Kong', 'Patlu', 'x', 'King'}

In [ ]:
#update Method
set1= {"x","y","z"}
set2={6,7,8}
set1.update(set2)
print(set1)

{'y', 7, 'z', 'x', 6, 8}

In [ ]:
#intersection method
set1= {"x","y","z"}
set2={6,7,8,"x"}
set3= set1.intersection(set2)
print(set3)

{'x'}

In [ ]:
# & operator
set1= {"x","y","z"}
set2={6,7,8,"x"}
set3= set1 & set2
print(set3)

{'x'}

In [ ]:
# difference method
set1= {"x","y","z"}
set2={6,7,8,"x"}
set3= set1.difference(set2)
print(set3)

{'y', 'z'}

In [ ]:
set1= {"x","y","z"}
set2={6,7,8,"x"}
set3= set2.difference(set1)
print(set3)

{8, 6, 7}